body, ul, li, img {
    margin: 0px;
    padding: 0px;
}

/*登录注册*/
#user_login{
    margin: 50px auto auto auto;
    width: 600px;
    height: 400px;
    background-color: rgba(138, 35, 27, 0.12);
    border-radius: 20px;
    border: solid 1px;
}
.user_register{
    margin-top: 100px;
    width: 100%;
    display: block;
}
.user_name{
    width: 400px;
    margin: auto;
}
.user_password{
    width: 400px;
    margin: 50px auto auto auto;
}
.btn_register{
    width: 210px;
    margin: auto;
}
.btn_register input{
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(127, 109, 238, 0.07);
    margin-top: 50px;
    margin-left: 30px;
}
label{
    width: 100px;
    display: block;
    float: left;
}
/*会话聊天*/
#container{
    width: 100%;
    height: auto;
    text-align: left;
    display: none;
}
#chat_header{
    width:800px;
    height:auto;
    margin: auto;
    font-size: 20px;

}
#history_info{
    width:800px;
    height: 400px;
    margin:auto;
    border: solid 1px;
    border-radius:20px;
    background-image:url(../img/01.jpg) ;
    text-align: left;
    overflow: auto;
    scrollBar-base-color:pink;
}
#history_info p{
    font-size:24px;
    font-family: 幼圆;
    margin-left: 10px;
}
.input_box{
    width:800px;
    height:auto;
    margin:10px auto auto auto;
}
#chat_info{
    width:400px;
    height: 80px;
    display: block;
    float: left;
}
#sendInfo{
    width:200px;
    height: 80px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 40px;
    font-family: Tahoma;
}
